body {
  background-color: black;
}

#container {
  position: relative;
  top: 30px;
  outline: 2px solid black;
  font-size: 0;
  margin: auto;
  height: 400px;
  width: 400px;
  padding: 0;
  border: none;
}

.grid {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid black;
  display: inline-block;
}

.typeempty {
  background-color: white;
}

.typefilled {
  background-color: black;
}

.typepossible {
  background-color: darkblue;
  cursor: pointer;
}
