body {
  background-color: black;
  background-image: linear-gradient(blue, aqua);
}

#container {
  position: relative;
  top: -150px;
  outline: 2px solid black;
  font-size: 0;
  margin: auto;
  height: 800px;
  width: 800px;
  padding: 0;
  border: none;
}

.grid {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid black;
  display: inline-block;
}

.empty {
  transition: 0.5s;
  background-color: white;
}

.filled {
  transition: 1s;
  opacity: 0%;
}

.possible {
  transition: 1s;
  background-color: black;
  cursor: pointer;
}
